<html>
  <head>
    <title>Boot Camp</title>
  </head>
  <body>
    <h1>Boot Camp</h1>
    <p><i>Insert new webpage here</i></p>
    <p>Welcome to <strong><%= @fqdn %></strong>, a <%= @kernel %> system running <%= @os['name'] %> version <%= @os['release']['full'] %>.</p>
    <IMG SRC="puppet_old_logo.jpg" ALT="some text" WIDTH=200 HEIGHT=200>
  </body>
</html>
